.footer-container {
  height: 10rem;
  /* width: 100%; */
  background: linear-gradient(
    90deg,
    hsla(252, 100%, 10%, 1) 0%,
    hsla(185, 78%, 21%, 1) 100%
  );
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0rem;
  padding: 0rem;

  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
}

.footer-question {
  margin: 2rem 0rem 0.5rem 0rem;
}

.footer-links {
  display: flex;
  flex-direction: row;
}

.footer-links > a {
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;

  font-size: 0.8rem;
  text-decoration: none;
  color: inherit;
}

.footer-links-who {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 1.5rem;
}

.links > a > img {
  height: 2rem;
  width: 2rem;
  margin: 0rem 1rem 1rem 1rem;
}
