.header-container {
  height: 10rem;
  /* width: 100%; */
  background: linear-gradient(
    90deg,
    hsla(252, 100%, 10%, 1) 0%,
    hsla(185, 78%, 21%, 1) 100%
  );
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  align-items: center;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0rem;
  padding: 0rem;
}

.header-h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: white;
  margin-left: 1rem;
}

.header-name {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.header-name > img {
  width: 10rem;
}

.header-buttons {
  display: flex;
  justify-content: center;
  /* display: none; */
}

.header-buttons > button {
  background-color: transparent;
  border: none;
  margin: 0rem 1rem;
}

.header-buttons > button > img {
  width: 2rem;
}
